@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Slab&family=Roboto:wght@300&display=swap');

$bg-sidemenu:#111418 ;
$bg-primary: #f8f9fa;
$primary-text: #dc3545;
$primary-color: #dc3545;
$secprimary-text: #ffffff;
$fade_text: #dee4de75;
$header-text-dark: #343a40;
$text-grey: #4c4d4d;

$sec-heading-size: calc(1.95rem + 8.4vw);
$sec-para-size: 2.50rem;

$sm-sec-heading-size: calc(1.5rem + 11.7vw);
$sm-sec-para-size: 1.30rem;

$md-sec-para-size: 1.80rem;

@mixin main-btn {
    color: $secprimary-text;
    background: $primary-text;
    padding: 7px 42px;
    border-radius: 1.875rem;
    font-size: 25px;
    font-weight: 600;
    transition: 0.4s;

    &:hover
    {
        background: transparent;
        color: $primary-text;
        border: 1px solid $primary-color;
    }
}

@mixin icon-color-hover {
    background-color: $primary-text;
    border-radius: 50%;
    padding: 1.188rem;
    box-shadow: 0 .125rem .25rem #00000054;
    color: #ffffff;
    transition: 0.4s;

    &:hover
    {
        background-color: #ffffff;
        border: 1px solid $primary-text;
        color: $primary-text;
    }
}

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body{
    overflow-x: hidden;
    color: $text-grey;
}

.display1
{
    display: none;
}

.display2
{
    display: block;
}

.section {
    position: relative;
    padding: 4rem 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}


.nav-bg
{
    background: $bg-sidemenu;
}

.nav-text-color a
{
    color: $secprimary-text;
    font-size: 1.2rem;
    font-weight: 600;

}

.nav-text-color a:hover
{
    color: $primary-text;
}

.folio-text
{
    font-size: 2.5rem;
    font-weight: 600;
    color: $primary-text;

    &:hover
    {
        color: $primary-text;
        text-decoration: none;
    }
}

.scroll-up-btn{
    position: fixed;
    height: 2.813rem;
    width: 2.813rem;
    background: $primary-color;
    right: 1.875rem;
    bottom: 1.875rem;
    text-align: center;
    line-height: 2.813rem;
    color: #fff;
    z-index: 9999;
    font-size: 1.875rem;
    border-radius: 50%;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.scroll-up-btn.show{
    bottom: 1.875rem;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover{
    background-color: #ffffff;
    border: 1px solid $primary-color;
    color:$primary-color;
}

nav li.active > a {
    color: #fff;
    font-weight: 600;
}

nav li.active a
{
    transition: all 0.3 ease;
    color: $primary-color;
}


#sectionHome
{
    .home
    {
        display: flex;
        background: url("../../images/bg-img-1.jpg") no-repeat center;
        background-attachment: scroll;
        background-size: auto;
        height: 100vh;
        min-height: 31.25rem;
        background-size: cover;
        background-attachment: fixed;

        .nameSection
        {
            position: absolute;
            z-index: 2;
            top: 15.625rem;
            margin: auto 3.125rem;

            .text1 p
            {
                font-size: 2.0rem;
                font-weight: 600;
                color: $secprimary-text;
            }

            .text2 p
            {
                font-size: 3.5rem;
                color: $secprimary-text;
                font-weight: 700;
            }

            .text3 p
            {
                font-size: 2.0rem;
                font-weight: 600;
                color: $secprimary-text;

                span 
                {
                    color: $primary-text;
                }
            }

            .hire-button
            {
                @include main-btn;
            }

        }

        .scroll-down-arrow {
            position: absolute;
            z-index: 3;
            bottom: 1.25rem;
            left: 50%;
            margin-left: -1.625rem;
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            font-size: 2.25rem;
            text-align: center;
            color: #fff;

            .animated-down svg path {
                position: relative;
                animation: fadeInDown 1.5s infinite;
                -webkit-animation: fadeInDown 1.5s infinite;
                -moz-animation: fadeInDown 1.5s infinite;
                -o-animation: fadeInDown 1.5s infinite;
            }

            svg path
            {
                color: white;
            }
        }
    }
}

#sectionAboutme
{
    .about-wrap
    {
      

        .fade-text
        {
            position: relative;
            display: flex;
            text-align: center;
            margin-bottom: 3rem;
            justify-content: center;
            
            h2 
            {
                color: $fade_text;
                font-size: $sec-heading-size;
                font-weight: 600;
            }

            p 
            {
                position: absolute;
                justify-content: center;
                color: $header-text-dark;
                font-size: $sec-para-size;
                font-weight: 600;
                width: 100%;
                top: 31%;

                .header-bottom-line
                {
                    position: absolute;
                    width: 80px;
                    border: 3px solid $primary-text;
                    background-color: $primary-text;
                    margin: auto;
                    top: 106%;
                    left: 45%;
                }
            }
        }

        .title
        {
            font-size: 2.0rem;
            font-weight: 600;
            margin-bottom: 0.8rem;

            span 
            {
                color: $primary-text;
            }
        }

        p 
        {
            font-size: 1.1rem;
            color: $text-grey;
        }

        .personal-info
        {
            padding: 15px;
            border-bottom:  1px solid #dee4de75;

            a
            {
            color: #4c4d4d;
            }	    
        }

        .cv-btn
        {
            @include main-btn;
        }

        .card-count
        {
              .card
                {
                    border: unset;
                    border-radius: 8px;
                    cursor: pointer;
                    position: relative;
                    padding:3.125rem 1.875rem;
                    border: 1px solid #dee2e6;
                    border-bottom: 4px solid $primary-color;

                    &:hover
                    {
                        box-shadow: 0 0 10px 1px #00000038;
                        transition: all 0.2s ease-in-out;
                    }
                    
                    .card-icon
                    {
                        font-size: 43px;

                    }

                    .count-text
                    {
                        font-size: 39px;
                        font-weight: 600;

                        span
                        {
                            padding: 10px 0px;
                        }
                    }

                    .count-title
                    {
                        font-size: 19px;
                    }

                    .icon-setting
                    {
                        .star-1
                        {
                           svg
                           {
                                font-size: 23px;
                                position: relative;
                                top: -40%;
                               
                           }
                        }

                        .star-2
                        {
                           svg 
                           {
                                font-size: 23px;
                                position: relative;
                                top: -52%;
                               
                           }
                        }

                        .star-3
                        {
                            svg 
                            {
                                font-size: 23px;
                                position: relative;
                                top: -40%;
                            }
                        }

                        .user-icon
                        {
                            svg
                            {
                                font-size: 40px;
                                position: absolute;
                                top: 30%;
                                left: 43%;
                                padding: 0px 0px 10px;
                            }
                        }
                    }

                }
        }
        
    }
}

#sectionWhatido
{

    background-color: $bg-primary;

    .whatido-wrap
    {
        .fade-text
        {
            position: relative;
            display: flex;
            text-align: center;
            margin-bottom: 3rem;
            justify-content: center;
            
            h2 
            {
                color: $fade_text;
                font-size: $sec-heading-size;
                font-weight: 600;
            }

            p 
            {
                position: absolute;
                justify-content: center;
                color: $header-text-dark;
                font-size: $sec-para-size;
                font-weight: 600;
                width: 100%;
                top: 31%;

                .header-bottom-line
                {
                    position: absolute;
                    width: 80px;
                    border: 3px solid $primary-text;
                    background-color: $primary-text;
                    margin: auto;
                    top: 106%;
                    left: 45%;
                }
            }
        }

        .service-icon
        {
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 1.813rem;
            width: 4.375rem;
            height: 4.375rem;
            @include icon-color-hover;
        }

        .service-title
        {
                margin-left: 91px;
                font-weight: 600;
                margin-bottom: 15px;
        }

        .service-discription
        {
            margin-left: 91px;
            text-align: justify;
        }
    }
}

#sectionResume
{
    .resume-wrap
    {
        .fade-text
        {
            position: relative;
            display: flex;
            text-align: center;
            margin-bottom: 3rem;
            justify-content: center;
            
            h2 
            {
                color: $fade_text;
                font-size: $sec-heading-size;
                font-weight: 600;
            }

            p 
            {
                position: absolute;
                justify-content: center;
                color: $header-text-dark;
                font-size: $sec-para-size;
                font-weight: 600;
                width: 100%;
                top: 31%;

                .header-bottom-line
                {
                    position: absolute;
                    width: 80px;
                    border: 3px solid $primary-text;
                    background-color: $primary-text;
                    margin: auto;
                    top: 106%;
                    left: 46%;
                }
            }
        }

        .card
        {
            background-color: $bg-primary;

            &:hover
            {
                box-shadow: 0 0 10px 1px #00000038;
                transition: all 0.2s ease-in-out;
            }
        }

        .edu-title 
        {
            h4{
                font-weight: 700;
            }
        }

        .title
        {
            h4 
            {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 17px;
                text-transform: uppercase;
            }
        }

        .year-pass
        {
            margin-bottom: 17px;

            span 
            {
                background-color: $primary-color;
                width: 36%;
                padding: 0px 9px;
                border-radius: 3px;
                color: white;
            }
        }

        .school-title
        {
            h6 
            {
                font-weight: 600;
            }
        }

        .expe-title
        {
            h6 
            {
                font-weight: 600;
                line-height: 1.4;
            }
        }

        .skills-title
        {
            p{
            font-weight: 600;
            margin-bottom: 0.5rem;
            }
        }

        .progress
        {
            border-radius: 0px;

            .progress-bar{
                background-color: $primary-color
            }
        }

        .cv-btn
        {
            @include main-btn;
        }

    }
}

#sectionContact
{
    background-color: $bg-primary;

    .contact-wrap
    {
        .fade-text
        {
            position: relative;
            display: flex;
            text-align: center;
            margin-bottom: 3rem;
            justify-content: center;
            
            h2 
            {
                color: $fade_text;
                font-size: $sec-heading-size;
                font-weight: 600;
            }

            p 
            {
                position: absolute;
                justify-content: center;
                color: $header-text-dark;
                font-size: $sec-para-size;
                font-weight: 600;
                width: 100%;
                top: 31%;

                .header-bottom-line
                {
                    position: absolute;
                    width: 80px;
                    border: 3px solid $primary-text;
                    background-color: $primary-text;
                    margin: auto;
                    top: 106%;
                    left: 45%;
                }
            }
        }

        .contact-padding
        {
            padding: 10px 0px;
        }

        .contact-icon
        {
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            width:3.125rem;
            height:3.125rem;
            @include icon-color-hover;
            font-size: 1.25rem;;
        }

        .contact-details
        {
                margin-left: 4.375rem;
                font-weight: 600;
        }

        .contact-link
        {
            margin-left: 1.25rem;
            font-weight: 600;
            color: #4c4d4d;
            display: flex;

            p 
            {
                margin-left: 1.25rem;
            }
            
        }

        .contact-form-control {
            display: block;
            width: 100%;
            height: calc(1.5em + 1.5rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #f8f9fa;
            background-clip: padding-box;
            border: unset;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        input
        {
            &:focus
            {
                outline: 2px solid $primary-color;
                border-radius: 0rem;
            }
        }

        .text-form-control {
            display: block;
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #f8f9fa;
            background-clip: padding-box;
            border: unset;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        textarea
        {
            &:focus
            {
                outline: 2px solid $primary-color;
                border-radius: 0rem;
            }
        }

        .send-button
        {
            @include main-btn;
            font-size: 1rem;
        }

        .note
        {
            span 
            {
                font-size: 14px;
            }
        }

        .social-icons 
            {   padding-top: 0.875rem;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
    }
}



@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-nav .nav-link 
    {
        padding-right: 0.7rem;
        padding-left: 0.7rem;
    }
}



@media (min-width: 320px) and (max-width: 480px)
{
    body{
        overflow-x: hidden;
    }
    

    .display1
    {
        display: block;
    }

    .display2
    {
        display: none;
    }

    .folio-text
    {
        font-size: 2.3rem;
        font-weight: 700;
        padding: 0px 0px 0px 6px;
    }

    #sidebarMenu
    {
        text-align: left;
        width: 100%;
        height: 28%;
        overflow-y: unset;
        overflow: unset;
    }

    .scroll-up-btn{
        right: 0.938rem;
        bottom: 0.938rem;
        height: 2.375rem;
        width: 2.375rem;
        font-size: 1.75rem;
        line-height: 2.375rem;
    }

    #sectionHome
    {
        .home
        {

            .nameSection
            {
                position: relative;
                z-index: 2;
                top: 19%;
                margin: 0 9px;

                .text1 p
                {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $secprimary-text;
                }

                .text2 p
                {
                    font-size: 2.5rem;
                    color: $secprimary-text;
                    font-weight: 700;
                }

                .text3 p
                {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $secprimary-text;

                    span 
                    {
                        color: $primary-text;
                    }
                }

                .scroll-down-arrow {
                    position: absolute;
                    z-index: 3;
                    bottom: 4.25rem;
                    left: 50%;
                    margin-left: -1rem;
                    width: 2rem;
                    height: 2rem;
                    line-height: 2rem;
                    font-size: 2.25rem;
                    text-align: center;
                    color: #fff;
                    top: 149%;
                }

            }
        }

    }

    #sectionAboutme
    {
        .about-wrap
        {
            .fade-text
            {
                
                h2 
                {
                    font-size: $sm-sec-heading-size;
                }

                p 
                {
                    top: 26%;
                    font-size: $sm-sec-para-size;

                    .header-bottom-line
                    {
                        border: 2px solid $primary-color;
                        width: 4.688rem;
                        left: 39%;
                    }
                }
            }
            
        }
    }

    #sectionWhatido
    {
        .whatido-wrap
        {
            .fade-text
            {
                
                h2 
                {
                    font-size: $sm-sec-heading-size;
                }

                p 
                {
                    top: 26%;
                    font-size: $sm-sec-para-size;

                    .header-bottom-line
                    {
                        border: 2px solid $primary-color;
                        width: 75px;
                        left: 39%;
                    }
                }
            }
        }

        .respo-center
        {
            text-align: center;
        }
    }

    #sectionResume
    {
        .resume-wrap
        {
            .fade-text
            {
                
                h2 
                {
                    font-size: $sm-sec-heading-size;
                }

                p 
                {
                    top: 26%;
                    font-size: $sm-sec-para-size;

                    .header-bottom-line
                    {
                        border: 2px solid $primary-color;
                        width: 4.688rem;
                        left: 39%;
                    }
                }
            }
        }
    }

    #sectionContact
    {
        .contact-wrap
        {
            .fade-text
            {
                
                h2 
                {
                    font-size: $sm-sec-heading-size;
                }
                p 
                {
                    top: 26%;
                    font-size: $sm-sec-para-size;

                    .header-bottom-line
                    {
                        border: 2px solid $primary-color;
                        width: 4.688rem;
                        left: 39%;
                    }
                }
            }
        }
    }

    section
    {
        footer 
        {
            .copy-text
            {
                text-align: left;
            }
        }
    }
    
}

@media (min-width: 481px) and (max-width: 768px)
{
    body{
        overflow-x: hidden;
    }

    .folio-text
    {
        font-size: 2.3rem;
        font-weight: 700;
        padding: 0px 0px 0px 6px;
    }

    #sidebarMenu
    {
        text-align: left;
        width: 100%;
        height: 28%;
        overflow-y: unset;
        overflow: unset;
    }

    .scroll-up-btn{
        right: 0.938rem;
        bottom: 0.938rem;
        height: 2.375rem;
        width: 2.375rem;
        font-size: 1.75rem;
        line-height: 2.375rem;
    }

    #sectionHome
    {
        .home
        {

            .nameSection
            {
                position: relative;
                z-index: 2;
                top: 19%;
                margin: 0 9px;

                .text1 p
                {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $secprimary-text;
                }

                .text2 p
                {
                    font-size: 2.5rem;
                    color: $secprimary-text;
                    font-weight: 700;
                }

                .text3 p
                {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $secprimary-text;

                    span 
                    {
                        color: $primary-text;
                    }
                }

                .scroll-down-arrow {
                    position: absolute;
                    z-index: 3;
                    bottom: 4.25rem;
                    left: 50%;
                    margin-left: -1rem;
                    width: 2rem;
                    height: 2rem;
                    line-height: 2rem;
                    font-size: 2.25rem;
                    text-align: center;
                    color: #fff;
                    top: 149%;
                }

            }
        }

    }

    #sectionAboutme
    {
        .about-wrap
        {
            .fade-text
            {
                
                h2 
                {
                    font-size: $sm-sec-heading-size;
                }

                p 
                {
                    font-size: $md-sec-para-size;

                    .header-bottom-line
                    {
                        border: 2px solid $primary-color;
                        width: 4.688rem;
                        left: 45%;
                    }
                }
            }

            .card-count 
            {
                .card 
                {
                    .icon-setting 
                    {
                        .user-icon 
                        {
                            svg
                            {
            
                                font-size: 40px;
                                position: absolute;
                                top: 30%;
                                left: 46.5%;
                                padding: 0px 0px 10px;
            
                            }
                        }
                    }
                }
            }
            
        }
    }

    #sectionWhatido
    {
        .whatido-wrap
        {
            .fade-text
            {
                
                h2 
                {
                    font-size: $sm-sec-heading-size;
                }

                p 
                {
                    font-size: $md-sec-para-size;

                    .header-bottom-line
                    {
                        border: 2px solid $primary-color;
                        width: 75px;
                        left: 45%;
                    }
                }
            }
        }

        .respo-center
        {
            text-align: center;
        }
    }

    #sectionResume
    {
        .resume-wrap
        {
            .fade-text
            {
                
                h2 
                {
                    font-size: $sm-sec-heading-size;
                }

                p 
                {
                    font-size: $md-sec-para-size;

                    .header-bottom-line
                    {
                        border: 2px solid $primary-color;
                        width: 4.688rem;
                        left: 45%;
                    }
                }
            }
        }
    }

    #sectionContact
    {
        .contact-wrap
        {
            .fade-text
            {
                
                h2 
                {
                    font-size: $sm-sec-heading-size;
                }
                p 
                {
                    font-size: $md-sec-para-size;

                    .header-bottom-line
                    {
                        border: 2px solid $primary-color;
                        width: 4.688rem;
                        left: 45%;
                    }
                }
            }
        }
    }

    section
    {
        footer 
        {
            .copy-text
            {
                text-align: left;
            }
        }
    }
    
}
